@import '~sass-rem/rem';

@import 'variables';

@import '../components/Header/styles';
@import '../components/Search/styles';
@import '../components/PodcastCard/styles';
@import '../components/PodcastList/styles';
@import '../components/PodcastDetail/styles';
@import '../components/Divider/styles';
@import '../components/PodcastEpisodes/styles';
@import '../components/PodcastEpisodesTable/styles';

html {
  background-color: $podcaster-background-color;
  font-family: $podcaster-font-family;
  margin: 0 auto;
  max-width: 100ch;
  scroll-behavior: smooth;
}

.podcaster__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}