$podcaster-background-color: rgba(0, 0, 0, 0.05);
$podcaster-font-family: 'Proxima Nova', -apple-system, 'Helvetica Neue', Helvetica, 'Roboto', Arial, sans-serif;

$podcaster-link-color: rgba(38, 104, 188, 0.8);

// Spacing
$podcaster-spacing-4: rem(4px);
$podcaster-spacing-6: rem(6px);
$podcaster-spacing-8: rem(8px);
$podcaster-spacing-12: rem(12px);
$podcaster-spacing-16: rem(16px);
$podcaster-spacing-18: rem(18px);
$podcaster-spacing-20: rem(20px);
$podcaster-spacing-24: rem(24px);
$podcaster-spacing-28: rem(28px);
$podcaster-spacing-32: rem(32px);
$podcaster-spacing-64: rem(64px);

// Font size
$podcaster-font-size-10: rem(10px);
$podcaster-font-size-12: rem(12px);
$podcaster-font-size-14: rem(14px);
$podcaster-font-size-16: rem(16px);
$podcaster-font-size-18: rem(18px);
$podcaster-font-size-24: rem(24px);

// Border radious
$podcaster-border-radious-4: rem(4px);
$podcaster-border-radious-6: rem(6px);

// Colors
$podcaster-gray-005: rgba(0, 0, 0, 0.05);
$podcaster-gray-010: rgba(0, 0, 0, 0.1);
$podcaster-gray-020: rgba(0, 0, 0, 0.2);
$podcaster-gray-030: rgba(0, 0, 0, 0.3);
$podcaster-gray-040: rgba(0, 0, 0, 0.4);
$podcaster-gray-050: rgba(0, 0, 0, 0.5);
$podcaster-gray-060: rgba(0, 0, 0, 0.6);
$podcaster-gray-070: rgba(0, 0, 0, 0.7);