$podcaster-background-color: rgba(0, 0, 0, 0.05);
$podcaster-font-family: 'Proxima Nova', -apple-system, 'Helvetica Neue', Helvetica, 'Roboto', Arial, sans-serif;

$podcaster-link-color: rgba(38, 104, 188, 0.8);

// Spacing
$podcaster-spacing-24: 24px