.podcast-episodes-table__container {
  align-items: center;
  border: 1px solid $podcaster-gray-020;
  box-shadow: 0px 1px 4px 1px $podcaster-gray-020;
  display: flex;
  font-size: $podcaster-font-size-14;
  padding: $podcaster-font-size-24 $podcaster-font-size-16 $podcaster-font-size-16;
}

.podcast-episodes-table {
  border-collapse: collapse;
  padding: 16px;
  width: 100%;

  tr {
    height: rem(40px);

    &:nth-child(even) {
      background-color: $podcaster-gray-005;
    }
  }
}

.podcast-episodes-table__header {
  border-bottom: rem(2px) solid $podcaster-gray-020;
}

.podcast-episodes-table__title {
  padding: 0 $podcaster-spacing-16;
  text-align: left;
  width: 70%;
}

.podcast-episodes-table__date {
  padding: 0 $podcaster-spacing-16 0 0;
  text-align: left;
  width: 15%;
}

.podcast-episodes-table-duration {
  padding-right: $podcaster-spacing-16;
  text-align: end;
  width: 15%;
}