.app {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Proxima Nova', -apple-system, 'Helvetica Neue', Helvetica, 'Roboto', Arial, sans-serif;
  font-size: 12px;
  scroll-behavior: smooth;
}
